body{
    font-family: 'Work Sans';
}
figure{
    background-color: #F8F8F8;
}

.primary-button{
    background-color: #E527B2;
    color: white;
    border-radius: 0.5rem;
    padding: 0.88rem 1.62rem ;
    font-weight: 600;
    font-size: 1.5rem;
}
img{
    width: 100%;
}

.item-name{
    font-size: 1.25rem;
    font-weight: 600;
}


.brr{
    border: 1px solid red;
}
.brb{
    border: 1px solid blue;
}
.brg{
    border: 1px solid green;
}